.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-image: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
  );
  background-clip:text;
  color: transparent;
  margin-bottom:25px;
  
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.Button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.Button {
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:rgb(149, 229, 60);
    font-size: 14px;
    padding: 9px 28px;
    border:2px solid;
    border-radius: 30px;
    border-color:rgb(229, 60, 149);
    background-color:rgb(60, 149, 229);
    cursor:pointer;
}

  .Button:hover {
    background-color: rgb(229, 60, 149);
    border-color:rgb(60, 149, 229);
    box-shadow: 5px 8px 12px 2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.10s;
  }

  .Button:active {
    background-color: rgb(219, 29, 129);
  }

.rainbow-box {
  margin:auto;
  width: 80vw;
  height: 50px;
  position: fixed;
  display: flex;
  flex-direction: row;
}
